#screen{
	overflow : hidden;	
	width : 100%; 
	height : 100%;
	position : absolute;
	background-image : url("../img/battlebacks/001-Grassland01.jpg");
	background-repeat : no-repeat;
	background-size : cover;
	background-position : center;
}
html, body{
	padding : 0;
	margin : 0;
	width : 100%;
	height : 100%;
	overflow : hidden;
	font-family : gun4fc, sans-serif;
	font-size : 32px;
	background : black;
}