#screen{
	overflow : hidden;	
	width : 100%; 
	height : 100%;
	position : absolute;
	background : black;
}
html, body{
	padding : 0;
	margin : 0;
	width : 100%;
	height : 100%;
	overflow : hidden;
	font-family : gun4fc, sans-serif;
	font-size : 32px;
	background : black;
}